extends ../layouts/main

include ../partials/_title

block content
  include ../partials/_navbar

  
  extends layout

block content
  div.container
    h1 Edit Animal

    // Animal Edit Form
    form(action="/animals/#{animal._id}/edit", method="post")
      div.form-group
        label(for="zoo") Zoo:</label>
        input(type="text", id="zoo", name="zoo", class="form-control" value="#{animal.zoo}" required)
      div.form-group
        label(for="scientificName") Scientific Name:</label>
        input(type="text", id="scientificName", name="scientificName", class="form-control" value="#{animal.scientificName}" required)
      div.form-group
        label(for="commonName") Common Name:</label>
        input(type="text", id="commonName", name="commonName", class="form-control" value="#{animal.commonName}" required)
      div.form-group
        label(for="givenName") Given Name:</label>
        input(type="text", id="givenName", name="givenName", class="form-control" value="#{animal.givenName}" required)
      div.form-group
        label(for="gender") Gender:</label>
        select(id="gender", name="gender", class="form-control" required)
          option(value="Male" #{animal.gender === 'Male' ? 'selected' : ''}) Male
          option(value="Female" #{animal.gender === 'Female' ? 'selected' : ''}) Female
          option(value="Other" #{animal.gender === 'Other' ? 'selected' : ''}) Other
      div.form-group
        label(for="dateOfBirth") Date of Birth:</label>
        input(type="date", id="dateOfBirth", name="dateOfBirth", class="form-control" value="#{animal.dateOfBirth.toISOString().split('T')[0]}" required)
      div.form-group
        label(for="age") Age:</label>
        input(type="number", id="age", name="age", class="form-control" value="#{animal.age}" required)
      div.form-group
        label(for="isTransportable") Is Transportable:</label>
        input(type="checkbox", id="isTransportable", name="isTransportable", class="form-check-input" checked="#{animal.isTransportable}")
      br
      button(type="submit", class="btn btn-primary") Update Animal Record
      a.btn.btn-danger(href="/animals/#{animal._id}/delete") Delete Animal